@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
* {
    font-family: "Poppins", sans-serif;
}

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0turn;
    inherits: false;
}

.card {
    animation: 2s gradient-angle infinite linear;
    border: 2px solid transparent;
    background-image: linear-gradient(#F34F1C, #c01711), conic-gradient( from var(--gradient-angle), #ffffff 0%, #ffffff 37%, #ffffff00 30%, #35353500 33%, #ffffff00 40%, #ffffff00 50%, #ffffff 77%, #ffffff 80%, #ffffff 83%, #ffffff 90%);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}

@keyframes gradient-angle {
    to {
        --gradient-angle: 1turn;
    }
}

@keyframes fillProgress {
    0% {
        background: conic-gradient(#f59e0b 0% 0%, #e5e7eb 0% 100%);
    }
    100% {
        background: conic-gradient(#f59e0b 0% 80%, #e5e7eb 80% 100%);
    }
}

.animate-progress-60 {
    animation: fill60 1.5s ease-in-out forwards;
}

@keyframes fill60 {
    0% {
        background: conic-gradient(#f59e0b 0% 0%, #e5e7eb 0% 100%);
    }
    100% {
        background: conic-gradient(#f59e0b 0% 60%, #e5e7eb 60% 100%);
    }
}

.fade-in {
    opacity: 0;
    animation: fadeInOpacity 1.5s ease-in forwards;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
        transform: translateY(15px);
        /* small upward movement for smoothness */
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Staggered delay for each fade-in element */

.fade-in:nth-child(1) {
    animation-delay: 0s;
}

.fade-in:nth-child(2) {
    animation-delay: 0.2s;
}

.fade-in:nth-child(3) {
    animation-delay: 0.4s;
}

.fade-in:nth-child(4) {
    animation-delay: 0.6s;
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(50px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.scroll-animation {
    opacity: 1;
    animation-name: fade-in-up;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-timeline: view();
    animation-fill-mode: both;
    animation-range: entry 10% cover 40%;
}

@keyframes fade-out-down {
    from {
        opacity: 1;
        transform: translateY(0);
    
    }
    to {
        opacity: 0;
        transform: translateY(50px);
    }
}

.scroll-down-animation {
    opacity: 0;
    animation-name: fade-out-down;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-timeline: view();
    animation-range: entry 100% cover 170%;
}
